<li>
  Name:      {{repo_details.name}}
</li>
<li>
  Size:      {{repo_details.size}}
</li>
<li>
  Forks:     {{repo_details.forks_count}}
</li>
<li>
  Watchers:  {{repo_details.watchers}}
</li>
<li>
Language:  {{repo_details.language}}
</li>
